Integrator                      = MC
MC_Moves                        = 1 1 1 1
Initial_Step                    = 1
Final_Step                      = 10000
Display_periodic                = 100
OutPutEnergy_periodic           = 100
Restart_periodic                = 10000
Kappa                           = 10 0
Edge_Parameters			= 100  1   1 
OutPutTRJ_TSI                   = 100  10  TrjTSI
GeneralOutputFilename           = output
Frame_Tension                   = off  Position_Rescale 1  5
OpenEdgeEvolutionWithConstantVertex = off 1 












