Integrator                      = MC
MC_Moves                        = 1 0 1 0
Initial_Step                    = 1
Final_Step                      = 300
Display_periodic                = 100
OutPutEnergy_periodic           = 100
Restart_periodic                = 10000
Kappa                           = 10 0
Edge_Parameters			= 10  8   8 
OutPutTRJ_TSI                   = 100  10  TrjTSI
GeneralOutputFilename           = output
Frame_Tension                   = off  Position_Rescale 4 5
OpenEdgeEvolutionWithConstantVertex = on 1  
