Integrator                      = MC
MC_Moves                        = 1 1 1 0
Initial_Step                    = 1
Final_Step                      = 30000
Display_periodic                = 100
OutPutEnergy_periodic           = 100
Restart_periodic                = 10000
Kappa                           = 20 0
Edge_Parameters			= 0  50   500 
OutPutTRJ_TSI                   = 100  10  TrjTSI
GeneralOutputFilename           = output
Frame_Tension                   = on  Position_Rescale -5  5
OpenEdgeEvolutionWithConstantVertex = off 10 
