Integrator                      = MC
MC_Moves                        = 1 0 0
Initial_Step                    = 1
Final_Step                      = 50
Display_periodic                = 1
OutPutEnergy_periodic           = 100
Restart_periodic                = 10000
Kappa                           = 20 0
OutPutTRJ_TSI                   = 1000  10  TrjTSI
GeneralOutputFilename           = output
OpenEdgeEvolutionWithConstantVertex = off 1  2   1 1 
