Integrator_Type          = MC_Simulation
Set_Steps                = 1 5000000
Temperature              = 1 0
Kappa                    = 30 0 0
VertexArea               = 0 0 0 0
VertexPositionIntegrator = MetropolisAlgorithmOpenMP 1 1 0.05
AlexanderMove            = MetropolisAlgorithmOpenMP 0.2
;so that the volume/area/GC will be printed in the out
;VolumeCoupling           = SecondOrder 0 100 0.8
;GlobalCurvatureCoupling  = HarmonicPotential 0 0.3
;TotalAreaCoupling        = HarmonicPotential 0 0.34
;output managment
ForceOnVertices  = User  85 437 256  100 
VisualizationFormat      = VTUFileFormat VTU_F 1000
NonbinaryTrajectory      = TSI TrajTSI 1000
TimeSeriesData_Period    = 1000
Restart_Period           = 1000
