Integrator                      = MC_B
MC_Moves                        = 1 1 1 1 1  
Initial_Step                    = 1
Final_Step                      = 10
Display_periodic                = 1
OutPutEnergy_periodic           = 10
Restart_periodic                = 10000
Kappa                           = 20 18
VertexArea		       	= 1 0.3 0 0.7
Edge_Parameters			= 0   0   0 
OutPutTRJ_TSI                   = 10  10  TrjTSI
FreezingAGroup			= 0
GeneralOutputFilename           = output
ConstantField			=  0  1 0 0 
Constant_NematicForce           =  0 1 1
Dynamic_Topology		=  Scission_By3Edges 1
OpenEdgeEvolution               = EvolutionWithConstantVertex  0
Volume_Constraint               = SecondOrderCoupling 1 0 1 0.5
Apply_Constant_Area             = on 1 0.5  1
CouplingtoFixedGlobalCurvature  = on 1 0.5 
INCLUSION
Define 2 Inclusions
SRotation   Type   K   KG  KP  KL   C0     C0P   C0L  lambda   lkg   lkn    cn0
1           Pro1   10   0  0   0   0.0    0.0    0     0        0      0      0.0
2           Pro2   20  0   0   0   0.0   0   0    0   0  0  0.0
GenerateInclusions
Selection_Type Random
TypeID     1  2
Density    1  0.0
Inclusion-Inclusion-Int
1    1    1   2     1     -5
 
