Integrator                      = MC_B
MC_Moves                        = 1 1 1 1 1  
Initial_Step                    = 1
Final_Step                      = 500000
Display_periodic                = 1000
OutPutEnergy_periodic           = 100
Restart_periodic                = 10000
Kappa                           = 20 0
VertexArea		       	= 0 0.4 0 0.7
Edge_Parameters			= 0   0   0 
OutPutTRJ_TSI                   = 1000  10  TrjTSI
Volume_Constraint 		= 1SecondOrderCoupling  1000 0  1000 0.99
GeneralOutputFilename           = output
INCLUSION
Define 2 Inclusions
SRotation   Type   K   KG  KP  KL   C0     C0P   C0L  lambda   lkg   lkn    cn0
1           Pro1   20  10  150 30   0.0    0.0    0   5        1    100      0.0
2           Pro2   20  0   0   0   0.0   0   0    0   0  0  0.0
GenerateInclusions
Selection_Type Random
TypeID     1  2
Density    0  0.0
Inclusion-Inclusion-Int
1    1    1   2     0     -4
 
