Integrator                      = MC_B
MC_Moves                        = 0 0 0 0 0   
Initial_Step                    = 1
Final_Step                      = 5000000
Display_periodic                = 1000
OutPutEnergy_periodic           = 100
Restart_periodic                = 10000
Kappa                           = 20  0
VertexArea		       	= 0 0.0 0 0.7
Edge_Parameters			= 55   0   0 
OutPutTRJ_TSI                   = 1000  10  TrjTSI
GeneralOutputFilename           = output
Dynamic_Box                     = PositionRescale_FrameTension 5 1
;OpenEdgeEvolution               = EvolutionWithConstantVertex  5

