Integrator                      = MC_B
MC_Moves                        = 1 1 1 1 1  
Initial_Step                    = 1
Final_Step                      = 10
Display_periodic                = 10
OutPutEnergy_periodic           = 100
Restart_periodic                = 10000
Kappa                           = 20 0
VertexArea		       	= 0 0.3 0 0.7
Edge_Parameters			= 5   0   0 
OutPutTRJ_TSI                   = 10  10  TrjTSI
FreezingAGroup			= Poles
GeneralOutputFilename           = output
ConstantField			=  0  1 0 0 
Constant_NematicForce           =  0 1 1
OpenEdgeEvolution               = EvolutionWithConstantVertex  1
INCLUSION
Define 2 Inclusions
SRotation   Type   K   KG  KP  KL   C0     C0P   C0L  lambda   lkg   lkn    cn0
1           Pro1   10   0  0   0   0.0    0.0    0   -5        0      0      0.0
2           Pro2   20  0   0   0   0.0   0   0    0   0  0  0.0
GenerateInclusions
Selection_Type Random
TypeID     1  2
Density    1  0.0
Inclusion-Inclusion-Int
1    1    1   2     1     -5
 
